---
import ContentBlock from './ContentBlock.astro';
import ContentDescription from './ContentDescription.astro';

const { project, contentBlock, width, height } = Astro.props;

const containerId = "frame-view-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
const insetClass = contentBlock.properties.inset ? ' inset' : '';
---

<ContentBlock>
	<div 
		id={containerId}
		class={"frame-view" + borderClass + insetClass}
		data-width={width}
		data-height={height}
		data-first_padding={contentBlock.index == 0 ? 'true' : 'false'}
		data-desc_padding={'desc' in contentBlock.properties ? 'true' : 'false'}
		data-links_padding={'links' in project.data && contentBlock.index == 0 ? 'true' : 'false'}
		data-inset={contentBlock.properties.inset ?? false}
	>
		<slot/>
	</div>
	<ContentDescription contentBlock={contentBlock} parentId={containerId}/>
</ContentBlock>

<style>
	.frame-view {
		position: relative;
		box-sizing: border-box;
		
		background: #eee;
		background-position: center;
		background-repeat: no-repeat;
	}

	.frame-view.inset {
		padding: 18px;
	}

	.frame-view:hover :global(.media-controls)  {
		opacity: 1;
	}

	@media (max-width: 776px) {
		.frame-view.inset {
			padding: 9px;
		}
	}
</style>