---
const { projectName, projectData } = Astro.props
---

<div class="tile-wrapper">
	<a href={`/projects/${projectName}/`} class="project-tile">
		<div class="project-image-frame">
			<img
				src={"/assets/projects/" + projectName + "/thumb.jpg"}
				alt={projectName}
				class="project-image"
				onload="fadeIn(this);"
			/>
		</div>
		<div class="project-title">
			{projectData.title}
		</div>
		<div class="project-tags">
			{projectData.tags.map((tag) => {
				return <span class="tag">{tag}</span>;
			})}
		</div>
		{'badge' in projectData && (
			<Fragment>
				<div class="project-badges">
					<span class={`badge ${projectData.badge.toLowerCase()}`}>{projectData.badge}</span>
				</div>
			</Fragment>
		)}
		</a>
</div>

<style>
	.tile-wrapper {
		position: relative;
	}

	.project-tile {
		display: flex;
		flex-direction: column;

		position: relative;
		margin: 10px;
		width: 320px;

		background: #fff;
		border: #ccc solid 1px;
		border-radius: 5px;
		
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-property: border, box-shadow;
	}

	.project-tile:hover {
		border-color: #888;
		box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.08);
	}

	.project-image-frame {
		width: 320px;
		height: 200px;
	}

	.project-image {
		opacity: 0;
		width: 320px;
		height: 200px;
		border-radius: 4px 4px 0px 0px;
	}

	.project-title {
		position: relative;
		font-family: 'Catamaran', sans-serif;
		height: 23px;
		margin: 12px 12px 0px;
		color: #333;
		font-size: 20px;
		white-space: nowrap;
		overflow: hidden;
	}

	.project-tags {
		position: relative;
		height: 24px;
		margin: 4px 9px 14px;
		white-space: nowrap;
		overflow: hidden;
	}

	.project-tags::before,
	.project-title::before {
		content: "";
		position: absolute;
		z-index: 10;
		background: linear-gradient(90deg, #fff0 0%, #fff 100%);
		top: 0;
		right: 0;
		bottom: 0;
		width: 30px;
	}

	.tag {
		font-family: 'Catamaran', sans-serif;
		position: relative;
		font-weight: 600;
		display: inline-block;
		font-size: 16px;
		padding: 2px 5px;
		color: #888;
		background: #fafafa;
		border-radius: 4px;
		margin: 0px 3px;

		transition: all 0.2s ease;
		transition-property: color, background;
	}

	.project-tile:hover .tag {
		color: #333;
		background: #f0f0f0;
	}

	.project-badges {
		position: absolute;
		top: 10px;
		left: 8px;
		display: flex;
		
	}

	.badge {
		color: #fff;
		padding: 5px 8px 3px 8px;
		font-weight: 500;
		font-size: 14px;
		border-radius: 5px;
		margin: 0px 2px;
	}

	.badge.commercial {
		background: #3b64a0;
	}

	@media (max-width: 776px) {
		.project-tile {
			margin: 20px auto;
		}
	}

	@media (min-width: 2101px) {
		.project-tile {
			width: 360px;
		}

		.project-image-frame, .project-image {
			width: 360px;
			height: 225px;
		}
	}
</style>