---
import ContentBlock from './ContentBlock.astro';
import ContentDescription from './ContentDescription.astro';
import type { ContentBlockData } from '../../scripts/interfaces';

interface Props {
	blockData: ContentBlockData<any>;
	width: number;
	height: number;
}
const { blockData, width, height } = Astro.props;

const containerId = "frame-view-" + blockData.index;
const borderClass = blockData.properties.desc ? ' border-radius-top' : ' border-radius-full';
const insetClass = blockData.properties.inset ? ' inset' : '';
---

<ContentBlock>
	<div 
		id={containerId}
		class={"frame-view" + borderClass + insetClass}
		data-width={width}
		data-height={height}
		data-first-padding={blockData.index == 0 ? 'true' : 'false'}
		data-desc-padding={blockData.properties.desc ? 'true' : 'false'}
		data-links-padding={blockData.project.data.links && blockData.index == 0 ? 'true' : 'false'}
		data-inset={blockData.properties.inset ?? false}
	>
		<slot/>
	</div>
	<ContentDescription blockData={blockData} parentId={containerId}/>
</ContentBlock>

<style>
	.frame-view {
		position: relative;
		box-sizing: border-box;
		
		background: #eee;
		background-position: center;
		background-repeat: no-repeat;
	}

	.frame-view.inset {
		padding: 18px;
	}

	.frame-view:hover :global(.media-controls)  {
		opacity: 1;
	}

	@media (max-width: 776px) {
		.frame-view.inset {
			padding: 9px;
		}
	}
</style>