<%
	height = item.desc.present? ? '360px' : '240px'
	border_class = item.desc.present? ? 'border-radius-top' : 'border-radius-full'
	image_path = "/assets/projects/#{project_name}/#{item.data}"
%>
<div class="image-center content-block">
	<div class="image-wrapper">
		<img id="img-<%= index %>" class="project-detail-image <%= border_class %>" style="max-height: max(calc(100vh - <%= height %>), 500px);" src="<%= image_path %>">
		<%= partial "partials/media_controls", :locals => {
			:name => item.data,
			:path => image_path
		} %>
	</div>
	<% if item.desc.present? %>
		<p class="content-description label" data-target="img-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>