<%
	height_padding = item.desc.present? ? '360' : '240'
	border_class = item.desc.present? ? 'border-radius-top' : 'border-radius-full'
	image_path = "/assets/projects/#{project_name}/#{item.data}"
	image_size = ImageSize.path('./src' + image_path)
%>
<div class="image-center content-block">
	<div id="img-<%= index %>" class="image-wrapper <%= border_class %>" style="<%= partial "partials/loading" %>">
		<img
			alt="<%= project_name %>"
			class="project-detail-image <%= border_class %>"
			src="<%= image_path %>"
			onload="fadeIn(this)"
			data-width="<%= image_size.w %>"
			data-height="<%= image_size.h %>"
			data-padding="<%= height_padding %>"
		>
		<%= partial "partials/media_controls", :locals => {
			:name => item.data,
			:path => image_path,
			:has_description => item.desc.present?
		} %>
	</div>
	<% if item.desc.present? %>
		<p class="content-description label" data-target="img-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>