<%
	video_path = "/assets/projects/#{project_name}/#{item.data}"
	aspect = item.aspect.present? ? item.aspect : 'wide'
	border_class = item.desc.present? ? 'border-radius-top' : 'border-radius-full'
%>
<div class="video-wrapper content-block">
	<div class="image-wrapper <%= aspect %> <%= border_class %>" style="<%= partial "partials/loading" %>">
		<video id="video-<%= index %>" autoplay mute loop>
			<source src="<%= video_path %>" type="video/webm">
		</video>
		<%= partial "partials/media_controls", :locals => {
			:name => item.data,
			:path => video_path,
			:has_description => item.desc.present?
		} %>
	</div>
	<% if item.desc.present? %>
		<p class="content-description label" data-target="video-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>