<%
	video_path = "/assets/projects/#{project_name}/#{item.data}"
	width = item.width.present? ? item.width : '16'
	height = item.height.present? ? item.height : '9'
	border_class = item.desc.present? ? 'border-radius-top' : 'border-radius-full'
%>
<div class="content-block">
	<div
		id="video-<%= index %>"
		class="aspect-container <%= border_class %>"
		style="<%= partial "partials/loading" %>"
		data-width="<%= width %>"
		data-height="<%= height %>"
		data-first_padding="<%= index == 0 %>"
		data-desc_padding="<%= item.desc.present? %>"
		data-links_padding="<%= links_exist and index == 0 %>">
		<video autoplay mute loop>
			<source src="<%= video_path %>" type="video/webm">
		</video>
		<%= partial "partials/media_controls", :locals => {
			:name => item.data,
			:path => video_path,
			:desc => item.desc.present?
		} %>
	</div>
	<% if item.desc.present? %>
		<p class="content-description label" data-target="video-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>