<%
	video_path = "/assets/projects/#{project_name}/#{item.data}"
	aspect = item.aspect.present? ? item.aspect : 'wide'
%>
<div class="video-wrapper">
	<div class="aspect-ratio <%= aspect %>">
		<video id="video-<%= index %>" autoplay mute loop>
			<source src="<%= video_path %>" type="video/webm">
		</video>
	</div>
	<% if item.desc.present? %>
		<p class="content-description" data-target="video-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>