---
const { pageInfo } = Astro.props;
---

<meta charset="utf-8">

<title>{pageInfo.title}</title>
<meta name="description" content={pageInfo.description}>
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta property="og:title" content={pageInfo.title}>
<meta property="og:url" content={Astro.url}>
<meta property="og:description" content={pageInfo.description}>
<meta property="og:type" content="website"/>
<meta property="og:image" content={pageInfo.image}>

<script is:inline src="/scripts/global.js"/>