---
let title = 'Projects'
const data = await Astro.glob('../data/project_index.yml');
import MainLayout from '../layouts/MainLayout.astro';
import ProjectTile from '../components/core/ProjectTile.astro';
import DummyProjectTile from '../components/core/DummyProjectTile.astro';

let description = 'Portfolio of my 3D art and programming projects and experiments along with a breakdown of the creative process and technical challenges tied to each of them.'
let page_image = `${import.meta.env.SITE}assets/social.jpg`;
// console.log(page_image);

const projects = data[0]['default'];
let columns = 3;
let gaps = (columns - (projects.length % columns)) % columns;
---

<MainLayout title={title} description={description} image={page_image}>
<div class="project-grid">
	<!-- foreach (x in projects) -->
    {projects.map(function(x, i){
		return <ProjectTile project_name={x} />;
    })}

	<!-- for (i = 0; i < gaps; i++) -->
	{[...Array(gaps)].map((x, i) =>
		<DummyProjectTile />
	)}
</div>
</MainLayout>

<script is:inline src="/src/javascripts/global.js"></script>

<style>
	.project-grid {
		margin: 50px auto 20px;
		max-width: 1140px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>