---
import '@fontsource/fragment-mono/400.css';
import { Code as CodeComponent } from 'astro:components';

import ContentBlock from '../components/content_block/ContentBlock.astro';
import ContentDescription from "../components/content_block/ContentDescription.astro";
import type { ContentBlockProps, CodeProperties } from '../scripts/build/interfaces';

interface Props extends ContentBlockProps<CodeProperties> {}
const { contentBlock } = Astro.props;

const contentBlockId = "code-block-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
---

<ContentBlock>
	{contentBlock.properties.file && (
		<div class="code-file">
			<div class="code-file-tab">{contentBlock.properties.file}</div>
		</div>
	)}
	<div id={contentBlockId} class={"code-window" + borderClass}>
		<CodeComponent
			code={contentBlock.properties.data}
			lang={contentBlock.properties.lang}
			theme="gruvbox-dark-soft"
		/>
	</div>
	<ContentDescription contentBlock={contentBlock} parentId={contentBlockId}/>
</ContentBlock>

<style>
	.code-window {
		position: relative;
		width: 100%;
	}

	.code-file {
		width: 100%;
		text-align: left;
	}

	.code-file-tab {
		display: inline-block;
		position: relative;
		align-self: flex-start;
		margin-bottom: -20px;
		background: #32302f;
		padding: 12px 18px 22px;
		font-size: 16px;
		color: #fafafa;
		border-radius: 8px 8px 0px 0px;
		font-weight: normal;
		white-space: nowrap;
		max-width: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}

	.code-file-tab.link:hover {
		text-decoration: underline;
	}

	.code-file-icon {
		display: inline;
		margin-left: 4px;
		height: 12px;
	}

	pre {
		margin: 0;
		padding: 20px 30px;
		text-align: left;
		overflow: auto;
		outline: none;
	}

	@media (max-width: 776px) {
		.code-file-tab {
			position: relative;
			margin-left: 10px;
			max-width: calc(100% - 20px);
			box-sizing: border-box;
			border-radius: 5px 5px 0px 0px;
		}
	}
</style>

<style is:global>
	.code-window code, .code-window span {
		font-size: 15px;
		font-family: "Fragment Mono";
		font-style: normal !important;
		font-weight: normal !important;
	}
</style>
