---
import { Code as CodeComponent } from 'astro:components';

import ContentBlock from '../components/content_block/ContentBlock.astro';
import ContentDescription from "../components/content_block/ContentDescription.astro";

const { project, contentBlock } = Astro.props;

const contentBlockId = "code-block-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';

---

<ContentBlock>
    <a class="code-file" href={contentBlock.properties.link} target="_blank">
        {contentBlock.properties.file}
        <img class="code-file-icon" src="/assets/svg/external-link-code.svg" alt="" onload="fadeIn(this);"/>
    </a>
    <div id={contentBlockId} class={"code-window" + borderClass}>
        <CodeComponent code={contentBlock.properties.data} lang={contentBlock.properties.lang} theme="catppuccin-frappe" />
    </div>
    <ContentDescription contentBlock={contentBlock} parentId={contentBlockId} />
</ContentBlock>

<style>
    .code-window {
        position: relative;
        width: 100%;
    }

    .code-file {
        position: relative;
        align-self: flex-start;
        margin-bottom: -10px;
        display: block;
        background: #303446;
        padding: 12px 18px 16px;
        font-size: 16px;
        color: #fafafa;
        border-radius: 8px 8px 0px 0px;
        font-weight: normal;
    }

    .code-file:hover {
        text-decoration: underline;
    }

    .code-file-icon {
        display: inline;
        margin-left: 4px;
        height: 12px;
    }

    pre {
        margin: 0;
        padding: 20px 30px;
        text-align: left;
        overflow: auto;
    }

    @media (max-width: 776px) {
		.code-file {
			position: relative;
			padding-bottom: 0;
            margin-bottom: 0;
            margin-left: 4px;
			box-sizing: border-box;
            border-radius: 5px 5px 0px 0px;
		}
	}
</style>

<style is:global>
    .code-window code, .code-window span {
        font-size: 16px;
        font-family: 'Sono', sans-serif;
        letter-spacing: -0.5px;
        font-style: normal !important;
    }
</style>
