---
import hljs from 'highlight.js';
import 'highlight.js/styles/kimbie-light.min.css';

import ContentBlock from '../components/content_block/ContentBlock.astro';
import ContentDescription from "../components/content_block/ContentDescription.astro";

const { project, contentBlock } = Astro.props;

const code = hljs.highlight(
    contentBlock.properties.data,
    { language: contentBlock.properties.lang }
).value

const contentBlockId = "code-block-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';

---

<ContentBlock>
    <div
        id={contentBlockId}
        class={"code-window hljs" + borderClass}
        data-code={contentBlock.properties.data}>
        <a class="code-file border-radius-full" href={contentBlock.properties.link} target="_blank">
            {contentBlock.properties.file}
            <img class="code-file-icon" src="/assets/svg/external-link-code.svg" alt="" onload="fadeIn(this);"/>
        </a>
        <pre><code set:html={code}></code></pre>
    </div>
    <ContentDescription contentBlock={contentBlock} parentId={contentBlockId} />
</ContentBlock>

<style>
    .code-window {
        position: relative;
        width: 100%;
        background: #FAFAFA;
    }

    .code-file {
        font-family: 'Sono', sans-serif;
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        background: #F0F0F0;
        padding: 10px 18px;
        font-size: 16px;
        color: #84613D;
        font-weight: normal;
        letter-spacing: -0.5px;
    }

    .code-file:hover {
        text-decoration: underline;
    }

    .code-file-icon {
        display: inline;
        height: 12px;
    }

    @media (max-width: 776px) {
		.code-file {
			position: relative;
            background: none;
            padding-bottom: 0;
            width: 100%;
            box-sizing: border-box;
		}
	}
</style>

<style is:global>
    pre {
        margin: 0;
        padding: 20px 30px;
        text-align: left;
        overflow: auto;
    }

    code, span {
        font-size: 16px;
        font-family: 'Sono', sans-serif;
        letter-spacing: -0.5px;
    }
</style>