<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta charset='utf-8'>
<meta name='description' content='3D art and programming'>
<meta name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'>

<title><%= yield_content(:title) %></title>

<%= favicon_tag 'images/favicon.ico' %>

<%= stylesheet_link_tag 'normalize' %>
<%= stylesheet_link_tag 'global' %>

<%= javascript_include_tag  'global' %>

<% if build? %>
	<%= partial 'partials/analytics' %>
<% end %>