<% height = item.desc.present? ? '360px' : '240px' %>
<div class="project-detail-image-center">
	<div class="project-detail-image-wrapper">
		<img id="img-<%= index %>" class="project-detail-image" style="max-height: calc(100vh - <%= height %>);" src="/images/projects/<%= item.data %>">
		<div class="image-controls">
			<div class="link-row">
				<div class="tile-wrapper">
					<a download="<%= item.data %>" href="/images/projects/<%= item.data %>" target="_blank">
						<div class="tile">
							<div class="tile-icon"><img src="/images/svg/download.svg"></div>
						</div>
					</a>
				</div><div class="tile-wrapper">
					<a href="/images/projects/<%= item.data %>" target="_blank">
						<div class="tile">
							<div class="tile-icon"><img src="/images/svg/fullscreen.svg"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<% if item.desc.present? %>
		<p class="content-description" data-target="img-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>