<div class="tile-wrapper">
	<% if project.link.present? and not project.wip.present? %>
		<a href="<%= project.link %>">
	<% end %>
		<div class="tile project-tile<% if not project.link.present? %> inactive<% end %><% if project.wip.present? %> wip<% end %>">
			<% if project.wip.present? %>
				<div class="wip-overlay">Article coming soon</div>
			<% end %>
			<div class="project-tile-image" style="background-image: url('/images/projects/<%= project.image %>');">
				<% if project.year.present? %>
					<div class="project-tile-year"><%= project.year %></div>
				<% end %>
				<% if project.commercial.present? %>
					<div class="project-tile-commercial">Commercial</div>
				<% end %>
			</div>
			<div class="project-tile-title"><%= project.title %></div>
			<% project.tags.each do |tag| %>
				<div class="project-tile-badge <%= tag.downcase %>"><%= tag %></div>
			<% end %>
		</div>
	<% if project.link.present? %>
		</a>
	<% end %>
</div>