<div class="project-tile">
	<% if link.length > 0 %>
		<a href="<%= link %>">
	<% end %>
		<div class="project-tile-inner">
			<div class="project-tile-image" style="background-image: url('images/<%= image %>');"></div>
			<div class="project-tile-title"><%= title %></div>
			<% tags.each do |tag| %>
				<div class="badge <%= tag.downcase %>"><%= tag %></div>
			<% end %>
		</div>
	</a>
</div>