<div class="project-tile-wrapper">
	<% if link.present? %>
		<a href="<%= link %>">
	<% end %>
		<div class="project-tile">
			<div class="project-tile-image" style="background-image: url('images/project_thumbs/<%= image %>');">
				<% if year.present? %>
					<div class="project-tile-year"><%= year %></div>
				<% end %>
				<% if commercial.present? %>
					<div class="project-tile-commercial">Commercial</div>
				<% end %>
			</div>
			<div class="project-tile-title"><%= title %></div>
			<% tags.each do |tag| %>
				<div class="project-tile-badge <%= tag.downcase %>"><%= tag %></div>
			<% end %>
		</div>
	<% if link.present? %>
		</a>
	<% end %>
</div>