<div class="project-tile">
	<a href="<%= link %>" class="project-tile-inner">
		<div class="project-tile-image" style="background-image: url('images/<%= image %>');"></div>
		<div class="project-tile-title"><%= title %></div>
		<div class="badge badge-left"><%= date %></div>
		<div class="badge badge-right <%= type.downcase %>"><%= type %></div>
	</a>
</div>