---
import Layout from '../../layouts/Default.astro';
import BigButton from '../../components/core/BigButton.astro';
import { getProjects, extractFilename, logError } from '../../scripts/utilities';

const { project } = Astro.props;

// Dynamic routing
export async function getStaticPaths() {
	const projects = await getProjects();
	return projects.map((project) => ({
		params: { project : project.name },
		props: { project: project as any },
	}));
}

// Construct content block library
let contentBlocks = {};
const contentBlocksGlob = await Astro.glob('../../components/content_blocks/*.astro');
contentBlocksGlob.forEach(block => {
	let name = extractFilename(block.file).toLowerCase();
	contentBlocks[name] = block.default
});

// Layout variables
const pageInfo = {
	'titlePrepend': project.data.title,
	'description': project.data.description,
	'image': `/assets/projects/${project.name}/thumb.jpg`,
	'tab': 'projects',
};
---

<Layout pageInfo={pageInfo}>
	<div class="project-detail-wrapper">
		<div class="project-detail">
			<!-- Info -->
			<h1 class="project-title">{project.data.title}</h1>
			<div class="tag-wrapper">
				<div class="tag-row">
					{project.data.tags.map((tag) =>
						<div class="tag">{tag}</div>
					)}
				</div>
			</div>
			<!-- Links -->
			{project.data.links && (
				<div>
					<div class="link-wrapper">
						{project.data.links.map((link) =>
							<a class="tile link" href={link.link} target="_blank">
								<img class="link-tile-icon" src="/assets/svg/external-link-alt.svg" alt="" onload="fadeIn(this);"/>
								<div class="link-tile-text">{link.title}</div>
							</a>
						)}
					</div>
				</div>
			)}
			<!-- Content -->
			{project.data.page.map((block, index) => {
				if (block.type in contentBlocks) {
					const Component = contentBlocks[block.type];
					return <Component project={project}
						contentBlock={{
							'index': index,
							'properties': block,
						}}
					/>
				}
				else {
					logError(`Unknown content type "${block.type}" is defined in ${project.data.title}`);
					return null;
				}
			})}
		</div>
	</div>
	<div class="back-to-projects-wrapper">
		<BigButton
			text="Back to projects"
			link="/projects/"
			icon="/assets/svg/folder-open.svg"
		/>
	</div>
</Layout>

<script>
	let aspectContainers = document.getElementsByClassName("aspect-container");
	let descs = document.getElementsByClassName("content-description");

	function updateAspectContainers()
	{
		for (let i = 0; i < aspectContainers.length; i++)
		{
			let container = aspectContainers[i] as HTMLElement;
			let aspectRatio = Number(container.dataset.width) / Number(container.dataset.height);

			let padding = 180;
			if (container.dataset.first_padding === 'true') padding += 100;
			if (container.dataset.desc_padding === 'true') padding += 100;
			if (container.dataset.links_padding === 'true') padding += 100;

			let width, height;

			if (window.innerWidth > 776)
			{
				//Desktop
				let maxWidth = container.parentElement.offsetWidth;
				height = Math.max(window.innerHeight - padding, 400);
				width = (height * aspectRatio);

				if (width > maxWidth)
				{
					width = maxWidth;
					height = width / aspectRatio;
				}
			}
			else
			{
				// Mobile
				width = window.innerWidth;
				height = width / aspectRatio;
			}

			container.style.height = height + 'px';
			container.style.width = width + 'px';
		}

		// Descriptions update
		for (let i = 0; i < descs.length; i++)
		{
			let desc = descs[i] as HTMLElement;
			let target = document.getElementById(desc.dataset.target);
			desc.style.width = (target.offsetWidth - 62) + 'px';
		}
	}

	// Update on window resize
	window.addEventListener('resize', () => {
		updateAspectContainers();
	});

	// Initial update
	updateAspectContainers();
	document.querySelector('body').style.opacity = '1';
</script>

<style>
	h1 {
		text-align: center;
	}

	body {
		opacity: 0;
	}

	.project-detail-wrapper {
		max-width: 1000px;
		margin: 30px auto;
	}

	.project-detail {
		padding: 0 52px;
		text-align: center;
		min-height: calc(100vh - 348px);
	}

	.back-to-projects-wrapper {
		text-align: center;
		margin: 60px 0px 50px;
	}

	.project-title {
		margin: 20px 0 8px;
		font-size: 45px;
	}

	.tag-wrapper, .link-wrapper {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}

	.tag-row {
		padding: 4px 8px;
	}

	.tag {
		position: relative;
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		display: inline-block;
		font-size: 18px;
		padding: 4px 8px;
		color: #333;
		background: #f0f0f0;
		border-radius: 4px;
		margin: 0px 3px;
	}

	.link-tile-icon {
		opacity: 0;
	}

	@media (max-width: 776px) {
		.project-detail {
			padding: 0;
			min-height: calc(100vh - 324px);
		}

		.image-center, .project-detail-wrapper {
			margin: 0;
		}

		.back-to-projects-wrapper {
			margin-top: 40px;
		}

		.project-title {
			font-size: 36px;
		}

		.tag {
			margin-top: 3px;
			margin-bottom: 3px;
		}

		.tag-wrapper, .link-wrapper {
			flex-direction: column;
		}
	}

	@media (min-width: 2101px) {
		.project-detail-wrapper {
			max-width: 1200px;
		}

		.project-detail {
			min-height: calc(100vh - 377px);
		}
	}
</style>

<style is:global>
	.textarea {
		position: relative;
		padding: 22px 30px;
		text-align: left;
		color: #222;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		line-height: normal;
	}

	.border-radius-top,
	.border-radius-top iframe,
	.border-radius-top video {
		border-radius: 5px 5px 0px 0px;
	}

	.border-radius-full,
	.border-radius-full iframe,
	.border-radius-full video {
		border-radius: 5px;
	}

	@media (max-width: 776px) {
		.textarea {
			background: none;
			border: none;
			padding: 22px 22px 0px 22px;
			width: calc(100% - 44px) !important;
			text-align: left;
		}

		.border-radius-top,
		.border-radius-top iframe,
		.border-radius-top video,
		.border-radius-full,
		.border-radius-full iframe,
		.border-radius-full video {
			border-radius: 0px;
		}
	}

	@media (min-width: 2101px) {
		.textarea {
			font-size: 20px;
		}
	}
</style>
