<div class="tile-wrapper">
	<a href="/projects/<%= project_name %>">
		<div class="project-tile" style="<%= partial "partials/system/loading" %>">
			<img
				src="/assets/projects/<%= project_name %>/thumb.jpg"
				alt="<%= project_name %>"
				class="project-tile-image"
				onload="fadeIn(this)"
			>
			<% if project.badge.present? %>
				<div class="project-badge <%= project.badge.downcase %>"><%= project.badge %></div>
			<% end %>
		</div>
	</a>
</div>