---
noindex: true
layout: false
directory_index: false
---

<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">

	<title>Page Not Found</title>
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<meta property="og:title" content="Page Not Found">
	<meta property="og:url" content="https://<%= config.domain %>/404/">
	<meta property="og:description" content="Error 404: Page Not Found">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://<%= config.domain %>/assets/social.jpg"/>

	<%= favicon_tag '/assets/favicon.ico' %>
	<%= stylesheet_link_tag '404' %>
	<%= stylesheet_link_tag 'big_buttons' %>
	<% if build? %>
		<%= partial 'partials/system/analytics' %>
	<% end %>
</head>
<body>
	<div class="pnf-content">
		<model-viewer
		src="/models/404.glb"
		environment-image="/assets/env.hdr"
		exposure="1.1"
		autoplay
		disable-zoom
		min-camera-orbit="auto 80deg auto"
		max-camera-orbit="auto 80deg auto"
		camera-target="-0.47m 0.8m 0.08m"
		shadow-intensity="1"
		shadow-softness="0.3">
		</model-viewer>
	</div>
	<div class="pnf-text-container">
		<div class="pnf-title">404</div>
		<div class="pnf-text">Page not found.</div>
		<br>
		<%= partial 'partials/components/home_button', :locals => {
			:text => 'Return home',
		} %>
	</div>
	<%= partial 'partials/components/model_viewer' %>
</body>
</html>