<% content_for(:title, project.title) %>
<div class="project-detail-wrapper">
	<div class="project-detail">

		<!-- Title -->
		<h1 class="project-title"><%= project.title %></h1>

		<!-- Tags -->
		<div class="project-tags">
			<% project.tags.each do |tag| %>
				<div class="project-tag"><%= tag %></div>
			<% end %>
		</div>

		<!-- Links -->
		<% if project.links.present? %>
			<p class="link-box">
			<% project.links.each  do |link| %>
				<a href=<%= link.link %> class="link-item"><%= link.title %></a>
				<% if link != project.links.last %>
					<span class="link-separator">|</span>
				<% end %>
			<% end %>
			</p>
		<% end %>

		<!-- Content blocks -->
		<% project.page.each_with_index  do |item, index| %>
			<%= partial "partials/content_blocks/#{item.type}", :locals => {
				:project_name => project_name,
				:item => item,
				:index => index
			} %>
		<% end %>

	</div>
</div>
<div class="back-to-projects-wrapper">
	<%= partial 'partials/projects_button', :locals => {
		:text => 'Back to projects'
	} %>
</div>
<%= javascript_include_tag  'project_detail' %>