<% content_for(:title, project.title) %>
<div class="project-detail-wrapper">
	<div class="project-detail">
		<h1 class="project-title"><%= project.title %></h1>
		<div class="project-tags">
			<% project.tags.each do |tag| %>
				<div class="project-tag"><%= tag %></div>
			<% end %>
		</div>
		<% project.page.each_with_index  do |item, index| %>
			<% case item.type %>
				<% when "text" %>
					<p><%= item.data %></p>
				<% when "image" %>
					<%= partial 'partials/image_block', :locals => {
						:item => item,
						:index => index
					} %>
				<% when "video" %>
					<%= partial 'partials/video_block', :locals => {
						:item => item,
						:index => index
					} %>
			<% end %>
		<% end %>
	</div>
</div>
<div class="back-to-projects-wrapper">
	<%= partial 'partials/projects_button', :locals => {
		:text => 'Back to projects'
	} %>
</div>

<%= javascript_include_tag  'project_detail' %>