<% content_for(:title, project.title) %>
<% content_for(:description, project.description) %>

<div class="project-detail-wrapper">
	<div class="project-detail">

		<!-- Title -->
		<h1 class="project-title"><%= project.title %></h1>

		<!-- Tags -->
		<div class="tag-wrapper">
			<div class="tag-row">
			<% project.tags.each do |tag| %>
				<div class="tag label"><%= tag %></div>
			<% end %>
			</div>
		</div>
		
		<!-- Links -->
		<% if project.links.present? %>
		<div class="tag-wrapper">
			<% project.links.each do |link| %>
			<a class="tag link" href="<%= link.link %>" target="_blank">
				<img class="tag-icon" src="/assets/svg/external-link-alt.svg">
				<div class="tag-text"><%= link.title %></div>
			</a>
			<% end %>
		</div>
		<% end %>

		<!-- Content blocks -->
		<% project.page.each_with_index  do |item, index| %>
			<%= partial "partials/content_blocks/#{item.type}", :locals => {
				:project_name => project_name,
				:item => item,
				:index => index
			} %>
		<% end %>

	</div>
</div>
<div class="back-to-projects-wrapper">
	<%= partial 'partials/projects_button', :locals => {
		:text => 'Back to projects'
	} %>
</div>
<%= javascript_include_tag  'project_detail' %>