---
import ContentBlock from './ContentBlock.astro';
import ContentDescription from './ContentDescription.astro';
import '../../styles/textarea.css';

const { project, contentBlock, width, height } = Astro.props;

const containerId = "aspect-container-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
---

<ContentBlock>
	<div 
		id={containerId}
		class={"aspect-container" + borderClass}
		data-width={width}
		data-height={height}
		data-first_padding={contentBlock.index == 0 ? 'true' : 'false'}
		data-desc_padding={'desc' in contentBlock.properties ? 'true' : 'false'}
		data-links_padding={'links' in project.data && contentBlock.index == 0 ? 'true' : 'false'}
	>
		<slot/>
	</div>
	<ContentDescription contentBlock={contentBlock} parentId={containerId} />
</ContentBlock>

<script>
	import '../../scripts/aspect-container.js';
</script>

<style>
	.aspect-container {
		position: relative;
		/* display: inline-block; */
		
		background: #eee;
		background-position: center;
		background-repeat: no-repeat;
	}

	.aspect-container:hover :global(.media-controls)  {
		opacity: 1;
	}
</style>