---
import { renderMarkdown } from '../../scripts/astro-helpers';
import ContentBlock from './ContentBlock.astro';
import '../../styles/textarea.css';

const { project, contentBlock, width, height } = Astro.props;

const containerId = "aspect-container-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
---

<ContentBlock>
	<div 
		id={containerId}
		class={"aspect-container" + borderClass}
		data-width={width}
		data-height={height}
		data-first_padding={contentBlock.index == 0 ? 'true' : 'false'}
		data-desc_padding={'desc' in contentBlock.properties ? 'true' : 'false'}
		data-links_padding={'links' in project.data && contentBlock.index == 0 ? 'true' : 'false'}
	>
		<slot/>
	</div>

	{'desc' in contentBlock.properties && (
		<div
			class="content-description textarea"
			data-target={containerId}
			set:html={renderMarkdown(contentBlock.properties.desc)}
		/>
	)}
</ContentBlock>

<script>
	import '../../scripts/aspect-container.js';
</script>

<style>
	.aspect-container {
		position: relative;
		display: inline-block;
		line-height: 0;
		
		background: #eee;
		background-position: center;
		background-repeat: no-repeat;
	}

	.aspect-container:hover :global(.media-controls)  {
		opacity: 1;
	}

	.content-description {
		box-sizing: border-box;
		border-radius: 0px 0px 10px 10px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		line-height: initial;
	}

	.border-radius-full {
		overflow: hidden;
		border-radius: 10px;
	}

	.border-radius-top {
		overflow: hidden;
		border-radius: 10px 10px 0px 0px;
	}

	@media (max-width: 776px) {
		.border-radius-full,
		.border-radius-top {
			border-radius: 0px;
		}

		.content-description {
			margin-bottom: 22px;
		}
	}
</style>