---
import ContentBlock from './ContentBlock.astro';
import ContentDescription from './ContentDescription.astro';
import '../../styles/textarea.css';

const { project, contentBlock, width, height } = Astro.props;

const containerId = "aspect-container-" + contentBlock.index;
const borderClass = 'desc' in contentBlock.properties ? ' border-radius-top' : ' border-radius-full';
const inset = contentBlock.properties.inset ? ' inset' : '';
---

<ContentBlock>
	<div 
		id={containerId}
		class={"aspect-container" + borderClass + inset}
		data-width={width}
		data-height={height}
		data-first_padding={contentBlock.index == 0 ? 'true' : 'false'}
		data-desc_padding={'desc' in contentBlock.properties ? 'true' : 'false'}
		data-links_padding={'links' in project.data && contentBlock.index == 0 ? 'true' : 'false'}
	>
		<slot/>
	</div>
	<ContentDescription contentBlock={contentBlock} parentId={containerId}/>
</ContentBlock>

<script>
	import '../../scripts/aspect-container.js';
</script>

<style>
	.aspect-container {
		position: relative;
		box-sizing: border-box;
		
		background: #eee;
		background-position: center;
		background-repeat: no-repeat;
	}

	.aspect-container.inset {
		padding: 20px;
	}

	.aspect-container:hover :global(.media-controls)  {
		opacity: 1;
	}

	@media (max-width: 776px) {
		.aspect-container.inset {
			padding: 10px;
		}
	}
</style>