<!DOCTYPE html>
<html>
<head>
	<%= partial 'partials/head' %>
</head>
<body class="<%= page_classes %>">
	<%= partial 'partials/navbar' %>
	<div class="content fadeIn">
		<%= yield %>
	</div>
	<%= partial 'partials/footer' %>
</body>
</html>