<!DOCTYPE html>
<html lang="en">
<head>
	<%= partial 'partials/system/head' %>
</head>
<body class="<%= page_classes %>">
	<%= partial 'partials/components/navbar' %>
	<div class="content">
		<%= yield %>
	</div>
	<%= partial 'partials/components/footer' %>
</body>
</html>