<%
	width = item.width.present? ? item.width : '16'
	height = item.height.present? ? item.height : '9'
	border_class = item.desc.present? ? 'border-radius-top' : 'border-radius-full'
%>
<div class="content-block">
	<div
		id="video-<%= index %>"
		class="aspect-container <%= border_class %>"
		style="<%= partial "partials/system/loading" %>"
		data-width="<%= width %>"
		data-height="<%= height %>"
		data-first_padding="<%= index == 0 %>"
		data-desc_padding="<%= item.desc.present? %>"
		data-links_padding="<%= links_exist and index == 0 %>">
		<iframe
			frameborder="0"
			src="https://www.youtube.com/embed/<%= item.data %>?rel=0"
			allowfullscreen
		></iframe>
	</div>
	<% if item.desc.present? %>
		<p class="content-description textarea" data-target="video-<%= index %>"><%= item.desc %></p>
	<% end %>
</div>